body {
  padding: 20px;
  font-family: 'Open Sans', 'Helvetica', sans-serif;
}

.main {
  display: flex;
  flex-direction: column;
  width: 300px;
}

input {
  padding: 10px;
  font-size: 12px;
  width: 100%;
}

button {
  padding: 10px;
  border: solid 1px #02b3e4;
  border-radius: 2px;
  background-color: #fff;
  color: #02b3e4;
  outline: none;
  width: 25%;
}

button:hover {
  background-color: #02b3e4;
  color: #fff;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}